@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #050816; 
  overscroll-behavior: none;
}

/* Background général */
body {
  margin: 0;
  /* On met le gradient en 'fixed' pour qu'il ne bouge pas si on tire sur la page */
  background: radial-gradient(circle at top, #0f1b3d, #050816 70%) no-repeat fixed;
  color: white;
  min-height: 100vh;
  /* Empêche le scroll horizontal */
  overflow-x: hidden; 
  /* Permet le scroll vertical propre */
  overflow-y: auto;
  /* Optionnel : lisse le scroll sur iOS */
  -webkit-overflow-scrolling: touch;
}

/* Glow FIFA */
.glow {
  box-shadow:
    0 0 10px rgba(0, 224, 255, 0.4),
    0 0 20px rgba(0, 224, 255, 0.2);
}

/* Scrollbar invisible mobile */
::-webkit-scrollbar {
  display: none;
}