@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* On garde ton réglage */
  overscroll-behavior-y: none; 
  background-color: #050816; 
  /* On force le scroll sur l'élément racine pour tes animations scroll(root) */
  height: 100%;
}

body {
  margin: 0;
  background: radial-gradient(circle at top, #0f1b3d, #050816 70%);
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
  
  /* CRUCIAL POUR IOS : On empêche le rebond élastique sans bloquer le scroll */
  position: relative;
  -webkit-overflow-scrolling: touch;
}

/* Glow FIFA */
.glow {
  box-shadow:
    0 0 10px rgba(0, 224, 255, 0.4),
    0 0 20px rgba(0, 224, 255, 0.2);
}

/* Scrollbar invisible */
::-webkit-scrollbar {
  display: none;
}